.button {
  display: inline-block;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #007bff;
    color: #fff;
  }

  &.primary {
    background-color: #007bff;
    color: #fff;

    &:hover {
      background-color: #0056b3;
    }
  }

  &.secondary {
    background-color: #6c757d;
    color: #fff;

    &:hover {
      background-color: #545b62;
    }
  }
  
  &.size_sm {
    padding: 7px 20px;
    font-size: 11px;
  }

  &.size_md {
    font-size: 14px;
  }
  &.size_lg {
    padding: 10px 24px;
    font-size: 16px;
  }

  &.size_xl {
    padding: 8px 18px;
    font-size: 18px;
    font-weight: 500;
  }
}
